:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.footer {
    /* width: 100%; */
    margin-top: 2%;
    background-color: var(--textColor--);
    color: var(--textColor--);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: 2px solid;
    border-top-color: var(--mainColor--);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    

}


.card-header {
    font-weight: bold;
    padding-top: 2%;
    font-size: 32px;
}

.card-body {
    width: 100%;
    margin: 1% 0 1% 0;
   
}
   
.card-footer {
    width: 100%;
    background-color: var(--mainColor--);
    color: var(--textColor--);
}
.following-payments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.links, .payment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.50rem 0;
    gap: 4%;
}
.following, .payments {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    min-width: 32rem;
    border: 2px solid var(--mainColor--);
    border-radius: 1rem;
    
}
.following-title , .payments-title {
    font-size: 14px;
    padding: 0;
    color: var(--secondColor--);
    font-weight: bold;
    margin: 0;
}

.payment-icon {
    width: 2rem;
    position: relative;
}
.payment-icon:hover {
    transform: scale(1.1,1.1);
    transition: 0.4s ease-in;
    cursor: pointer;
}
.privacy-policy {
    text-decoration: none;
}