:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.footer {
    width: 100%;
    background-color: var(--thirdColor--);
    color: var(--textColor--);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: 2px solid;
    border-top-color: var(--mainColor--);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;

}


.card-header {
    font-weight: bold;
    padding-top: 2%;
    font-size: 32px;
}

.card-body {
    width: 100%;
    margin: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}
   
.card-footer {
    width: 100%;
    background-color: var(--mainColor--);
    color: var(--textColor--);
}
.links {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 1%;
}