:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.search-form {
    display: flex;
    gap: 0.5em;
}
.search-input {
    min-width: 24em;
    outline: none;
    padding-right: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.search-input:focus {
    border: 1px solid var(--mainColor--);
    transform: scale(1.1,1.1);
    transition: 0.3s 0.1s ease-in-out;
    margin-left: 2%;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
    .search-input {
        min-width: 8em;
        outline: none;
        padding-right: 1em;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
   
   
}

.search-form button     {
    outline: none;
    border: 1px solid var(--mainColor--);
   
    padding: 4px 16px;
    border-radius: 8px;
    background-color: transparent;
    font-weight: bold;
    color: var(--mainColor--);
}
.btn-sorting {
    /* padding: 4px 8px; */
    border: 1px solid var(--mainColor--);
    background-color: var(--mainColor--);
    color: var(--textColor--);
    border-radius: 8px;
}
.search-form button:hover , .btn-sorting:hover {
    background-color: var(--mainColor--);
    transition: 0.4s 0.1s ease-in-out;
    color: var(--textColor--);
}
.products-list {
    gap: 16px;
}
