
:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.product-card {
    border: solid 2px var(--mainColor--);
    /* background-color: var(--mainColor--); */
    border-radius: 16px;
    min-width: 300px;
   
   
}

.card-title {
    color: var(--secondColor--);
    font-weight: bold;
    font-size: 24px;
}
.card-price {
    /* padding: 4%; */
    /* background-color: var(--secondColor--); */
    color: var(--secondColor----);
    font-size: 18px;
    border-radius: 4px;
    
}
.product-card button {
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--mainColor--);
    color: var(--secondColor--);
    font-weight: bold;
    font-size: 12px;
}
.product-card img:hover {
    transform: scale(0.9,0.9);
    transition: 0.4s 0.1s ease-in-out;
}
.product-card button:hover {
    background-color: var(--mainColor--);
   
    color: var(--textColor--);
}
.product-body {
   
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}