
:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.product-card {
    /* border: solid 1px red; */
    /* background-color: var(--mainColor--); */
    border-radius: 16px;
    width: 300px;
}

.card-title {
    color: var(--textColor--);
    font-weight: bold;
    font-size: 24px;
}
.card-price {
    /* padding: 4%; */
    background-color: var(--secondColor--);
    color: var(--textColor--);
    font-size: 18px;
    border-radius: 4px;
    
}
.button {
    margin: 0;
    width: 100%;
    padding: 16px;
    background-color: var(--textColor--);
    border: transparent;
    color: var(--secondColor--);
    font-weight: bold;
    font-size: 12px;
}
img:hover {
    transform: scale(0.9,0.9);
    transition: 0.4s 0.1s ease-in-out;
}
.button:hover {
    background-color: var(--textColor--);
    color: var(--mainColor--);
}
.product-body {
   
    display: flex;
    flex-direction: column;
}