
:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.questions {
    padding: 4%;
    
}

.collapsed {
    background-color: var(--secondColor--);
    color: var(--mainColor--);
}
.accordion-item {
    background-color: var(--secondColor--);
}
.accordion-body {
    color: var(--textColor--);
    border: 1px solid var(--hoverLink--);
}