:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.box-purble {
    /* width: 24em; */
    background-color: var(--mainColor--);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    row-gap: 4px;
    padding: 4rem;
    align-items: center;
    border-radius: 16px;
    
}
.box-white {
    
    background-color: var(--textColor--);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    row-gap: 4px;
    padding: 4rem;
    align-items: center;
    border-radius: 16px;
    
}

.box-purble:hover .quick-link-box-icon {
    transform: rotate(180deg);
    transition: 0.5s 0s ease-out;
}
.box-white:hover .quick-link-box-icon {
    transform: rotate(180deg);
    transition: 0.5s 0s ease-out;
}
.box-purble .quick-link-box-heading {
    font-weight: bold;
    font-size: 48px;
    color: var(--textColor--);
    
}
.box-white .quick-link-box-heading {
    font-weight: bold;
    font-size: 48px;
    color: var(--mainColor--);
}
.quick-link-box-desc {
    font-weight: bold;
    font-size: 24px;
    color: var(--secondColor----);
}
.quick-link-box-icon {
   width: 80px;
   height: 80px;
}

a {
    color: var(--secondColor--);
    text-decoration: none;
}
a:hover {
    color: var(--secondColor--);
    text-decoration: none;
}