
:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.section-heading {
    /* background-color: var(--hoverLink--); */
    margin: 1% 0 1% 0;
    padding: 0.5rem;
    /* border: solid 4px;
    border-bottom-color: var(--hoverLink--);
    border-top-color: var(--hoverLink--);
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 4rem; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--hoverLink--); */
}

.section-heading .heading {
    font-weight: bold;
    font-size: 2em;
    color: var(--secondColor--);
    
}
.heading::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 4%;
    width: 32%;
    height: 4px;
    background-color: var(--mainColor--);
}
.heading::before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 4%;
    width: 32%;
    height: 4px;
    background-color: var(--mainColor--);
}
.heading-description {
    font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .heading::after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 4%;
        width: 24%;
        height: 4px;
        background-color: var(--mainColor--);
    }
    .heading::before {
        content: "";
        position: absolute;
        bottom: 50%;
        right: 4%;
        width: 24%;
        height: 4px;
        background-color: var(--mainColor--);
    }
    .section-heading .heading {
        font-weight: bold;
        font-size: 1em;
        color: var(--secondColor--);
        
    }
}