
:root {
    --mainColor--: #9933FF;
    --secondColor--: #19191b;
    --thirdColor--: #000000;
    --textColor--: #ffffff;
    --hoverLink--: #916bb8;
}

.section-heading {
    /* background-color: var(--hoverLink--); */
    margin: 1% 0 1% 0;
    padding: 0.5rem;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--hoverLink--); */
}

.section-heading .heading {
    font-weight: bold;
    font-size: 2em;
    color: var(--secondColor--);
    /* background-color: var(--mainColor--); */
    
}
.heading::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 4%;
    width: 32%;
    height: 0.7rem;
    background-color: var(--mainColor--);
}
.heading::before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 4%;
    width: 32%;
    height: 0.7rem;
    background-color: var(--mainColor--);
}
.heading-description {
    font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .heading::after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 4%;
        width: 24%;
        height: 4px;
        background-color: var(--mainColor--);
        margin: 0.8rem 0;
    }
    .heading::before {
        content: "";
        position: absolute;
        bottom: 50%;
        right: 4%;
        width: 24%;
        height: 4px;
        background-color: var(--mainColor--);
        margin: 0.8rem 0;
    }
    .section-heading .heading {
        font-weight: bold;
        font-size: 1em;
        color: var(--secondColor--);
        
    }
}