
:root {
  --mainColor--: #9933FF;
  --secondColor--: #19191b;
  --thirdColor--: #000000;
  --textColor--: #ffffff;
  --hoverLink--: #916bb8;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
body {
  margin: 0;
  direction: rtl;
  font-family: "Noto Sans Arabic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--textColor--); */
  background-color: #eee;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8rem;
  
}

::-webkit-scrollbar-track {
  background-color: var(--mainColor--);

}
::-webkit-scrollbar-thumb {
  background-color: var(--textColor--);
  border-radius: 8rem;
  
}
