
:root {
  --mainColor--: #9933FF;
  --secondColor--: #19191b;
  --thirdColor--: #000000;
  --textColor--: #ffffff;
  --hoverLink--: #916bb8;
}

body {
  margin: 0;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--textColor--); */
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 0.8rem;
  
}

::-webkit-scrollbar-track {
  background-color: var(--hoverLink--);

}
::-webkit-scrollbar-thumb {
  background-color: var(--textColor--);
  border-radius: 2rem;
  
}
